<form>
  {{> modules/tablesmith-like/templates/paramspartial.hbs}}
  <button type="button" data-action="evaluate"><i class="flex0 fas fa-dice-d20"></i> {{localize "TABLESMITH.evaluate.table"}}</button>
</form>