<div class="flexrow">
  <button type="button" data-action="result-to-chat"><i class="fas fa-comments"></i> {{localize "TABLESMITH.evaluate.result-to.chat"}}</button>
  <button type="button" data-action="result-to-journal"><i class="fas fa-book"></i> {{localize "TABLESMITH.evaluate.result-to.journal"}}</button>
</div>